@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Underdog&display=swap');
@import "tailwindcss";

body{
    font-family: 'Outfit', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Optional: better scroll performance */
body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}